<h1>Classes</h1>
<ul>
  <li>
  Object-orientated programming approach popular and efficient
  </li>
  <li>
   Define classes of real-world things or situations (can be thought of as creating your own data type)
    <ul>
      <li>Attributes of various data types</li>
      <li>Functions inside of a class are the same except called methods</li>
      <li>Methods may be accessed using the dot operator</li>
    </ul>
  </li>
  <li>Instanciate objects of your classes</li>
  <li>__init()__ method used to prefill attributes</li>
  <li>Capitalize class names</li>
</ul>

In [ ]:
#Define Employee class

In [ ]:
#Create a Payment class and assign it 3 attributes: payer, payee, amount

## Pandas 

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language. 

It will seamlessly bridge the gap between Python and Excel.


Built Around 2 Main Classes:
 - DataFrames
 - Series

## Jupyter Notebook 

This is a web-based application (runs in the browser) that is used to interpret Python code. 

- To add more code cells (or blocks) click on the **'+'** button in the top left corner
- There are 3 cell types in Jupyter:
    - Code: Used to write Python code
    - Markdown: Used to write texts (can be used to write explanations and other key information)
    - NBConvert: Used convert Jupyter (.ipynb) files to other formats (HTML, LaTex, etc.) 
    

- To run Python code in a specific cell, you can click on the **'Run'** button at the top or press **Shift + Enter**
- The number sign (#) is used to insert comments when coding to leave messages for yourself or others. These comments will not be interpreted as code and are overlooked by the program

In [ ]:
#Import pandas and assign it to a shorthand name pd

<h1>Reading CSV Files</h1>

<ul>
    <li>Function to use in Pandas: read_csv()</li>
    <li>Value passed to read_csv() must be string and the <b>exact</b> name of the file</li>
    <li>CSV Files must be in the same directory as the python file/notebook</li>
</ul>

In [ ]:
#Read our data into a DataFrame names features_df
#read_excel does the same but for spreadsheet files

#print(df)

<h1>Basic DataFrame Functions</h1>

<ul>
    <li>head() will display the first 5 values of the DataFrame</li>
    <li>tail() will display the last 5 values of the DataFrame </li>
    <li>shape will display the dimensions of the DataFrame</li>
    <li>columns() will return the columns of the DataFrame as a list</li>
    <li>dtypes will display the types of each column of the DataFrame</li>
    <li>drop() will remove a column from the DataFrame</li>
</ul>

In [ ]:
#Display top 5 rows

#nan values are essentially empty entries

In [ ]:
#Display bottom 5 rows

In [ ]:
#Print dimensions of DataFrame as tuple

In [ ]:
#Print list of column values

In [ ]:
#To only rename specific columns

In [ ]:
#Print Pandas-specific data types of all columns

<h1>Indexing and Series Functions</h1>

<ul>
    <li>Columns of a DataFrame can be accessed through the following format: df_name["name_of_column"] </li>
    <li>Columns will be returned as a Series, which have different methods than DataFrames </li>
    <li>A couple useful Series functions: max(), median(), min(), value_counts(), sort_values()</li>
</ul>

In [ ]:
#Extract CPI column of features_df

In [ ]:
#Display the dimensions with 'shape'
#Display the total number of entries with 'size'
# Example with our DataFrame

In [ ]:
#Maximum value in Series

In [ ]:
#Median value in Series

In [ ]:
#Minimum value in Series

In [ ]:
#Basic Statistical Summary of a column

In [ ]:
#Print list of unique values

In [ ]:
#Print unique values and frequency

In [ ]:
#Return a sorted DataFrame acording to specified column

In [ ]:
# delete one column

In [ ]:
# Check for missing values and how many

In [ ]:
# delete multiple columns

In [ ]:
#Define a function to convert float values to our custom categorical ranges

In [ ]:
#With the apply() function we can apply our custom function to each value of the Series

In [ ]:
#If we would like to define a 'one time use' anonymous function, we can use the 'lambda' keyord

In [ ]:
#More efficient way method
#Uses matrix manipulation instead of row by row increments

In [ ]:
#Say a colleague of yours asks for a new metric called "customerCost"
#Add a column that is equal to Fuel_Price * CPI

<h1>Indexing</h1>

<ul>
    <li>Because Pandas will select entries based on column values by default, selecting data based on row values requires the use of the iloc method. 
    </li>
    <li>
      Allowed inputs are:
        <ul>
            <li>An integer, e.g. 5.</li>
            <li>A list or array of integers, e.g. [4, 3, 0].</li>
            <li>A slice object with ints, e.g. 1:7.</li>
        </ul>
    </li>
</ul>

In [ ]:
#Return Fuel_Price to IsHoliday columns of 0-10th rows
#Note how LOC can reference columns by their names

In [ ]:
#Retrieve the CPI and customerCost of rows 500 to 505

In [ ]:
#Retrieve a couple rows from their ROW index values

In [ ]:
#We may also provide specific row/column values to access specific values

In [ ]:
#Multiple rows and specific columns

In [ ]:
#Access rows 1 to 3 for Store column to Fuel_Price

<h1>Formatting Data</h1>

<ul>
    <li>To access and format the string values of a DataFrame, we can access methods within the "str" module of the DataFrame </li>
    <li>We may also format float values using options.display.float_format() in Pandas</li>
</ul>

In [ ]:
# Split a value of the Date column yy/mm/dd
# Use 2010-02-05 as an example

In [ ]:
#By accessing .str, we gain access to all the string methods we covered in Python 1!
#new data frame with split value columns

In [ ]:
#Declare new column named Year to be first column of new DataFrame
  
#Do the same for Month

In [ ]:
#Format float

<h1>Conditional Indexing</h1>

<ul>
    <li>Conditional Operators (>, ==, >=) can be used to return rows based on their values </li>
    <li>Bitwise Operators (|, &) can be used to combine conditonal statements</li>
</ul>

In [ ]:
#Check data types of new columns

In [ ]:
#Convert Year and Month to integers from string

In [ ]:
#Return rows with year value of 2011

In [ ]:
#Return rows with CPI lower than 130

In [ ]:
#Return rows with year equal to 2010 AND unemployment larger than 8

In [ ]:
#Return rows with temp larger than 40 OR Store number equal to 4

In [ ]:
##CLASS EXERCISE 
# find the rows with Fuel_Price larger than 3.00 AND IsHoliday is True

In [ ]:
# find the rows with CPI < 200  OR Unemployment < 5

In [ ]:
#Export the current version of our DataFrame to a .csv file

#to_excel also an option to export to Excel Spreadsheet